.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 20vh;
    width: 60%;
    background-color: transparent;
    color: white;
    outline: 3px solid  hsl(217, 16%, 45%);
    margin: 0 auto;
    margin-top : 50px;
    border-radius: 10px;
    font-family: 'Barlow Semi Condensed', sans-serif;
  }

.game-logo{
    background: url('../../../images/logo.svg') no-repeat;
    background-size: contain;
    width: 150px;
    height: 150px;
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    .header-wrapper{
        width: 70%;
        height: 15vh;
        padding: 0px 10px;
        margin-top: 20px;
        margin-left: 10%;
        margin-right: 20%;
    }
    .game-logo{
        width: 100px;
        height: 100px;
        margin-top: 40px;
    }

  
}